<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/wheelsNo.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Vahical Seats</title>
</head>

<body>

  <div class="container">
    <h2 class="main-heading">Number of Seats</h2>
    <form action="/vahicals" method="POST">
      <input type="radio" id="2-seater" name="seats" value=2> 2
      <br>
      <input type="radio" id="4-seater" name="seats" value=4> 4 <br />
        <input class="btn" type="button" id="previousButton" value="Prev" >
        <input type="submit" id="nextUser" value="Next" class="btn" disabled>
    </form>
  </div>
</body>

<script>
  (function() {
    $('form > input').click(function() {
        var empty = false;
        $('form > input').each(function() {
            if ($(this).val() == '') {
                empty = true;
            }
        });
        if (empty) {
            $('#nextUser').attr('disabled', 'disabled');
        } else {
            $('#nextUser').removeAttr('disabled');
        }
    });
})();
</script>

<script>
        $(document).ready(function () {
            $('#previousButton').on('click', function () {
                window.history.back();
            });
        });
</script>
</html>