<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/wheelsNo.css">
  <title>Vehicle Rental</title>
</head>

<body>

  <div class="container">
    <h2 class="main-heading">Number of Seats</h2>


    <form action="/vahicals" method="POST">
      <input type="radio" id="2-seater" name="seats" value=2> 2
      <br>
      <input type="radio" id="4-seater" name="seats" value=4> 4 <br />
      <div class="pagination">
        <button class="btn" id="previous">Prev</button>
        <input type="submit" id="next" value="Next" class="btn">
      </div>
    </form>
  </div>
</body>
<script src="js/script.js"></script>

</html>