<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/selectDate.css">
  <title>Vehicle Rental</title>
</head>

<body>

  <div class="date-container">
    <h2 class="main-heading">Select Date</h2>
   <form action="/selectDate">  
    <label for="start Date">Start Date</label>  
    <br>    
    <input type="date"/>  
    <br>  
     <label for="start Date">End Date</label>  
     <br/>
    <input type="date"/>
    </form>  
    <div class="pagination">
     <button class="btn">Prev</button>
     <button class="btn" type="submit" onsubmit="javascript:alert('success')">Submit</button>
     </div> 
  </div>
</body>
</html>