<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/wheelsNo.css">
  <title>Vehicle Rental</title>
</head>

<body>

  <div class="container">
    <h2 class="main-heading">Types of Vehicle</h2>
   <form action="/model" method="POST"> 
           <% if (prods.length > 0) { %>
           <div>
            <% for (let product of prods) { %>
            <input type="radio" id="vahicalType" name="vahicalType" value=""/><%= product %>
            <br>
             <% } %>
           </div>
          
           <% } else { %>
                        <h1>No Products Found!</h1>
                  <% } %>
    </form>  
    <div class="pagination">
     <button class="btn" id="previous">Prev</button>
     <button class="btn">Next</button>
     </div> 
  </div>
</body>
  <script src="js/script.js"> </script>

</html>