<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/wheelsNo.css">
  <title>Vehicle Rental</title>
</head>

<body>

  <div class="container">
    <h2 class="main-heading">Types of Vehicle</h2>
   <form >    
    <input type="radio" id="gender" name="gender" value="male"/> Male    
    <br>  
    <input type="radio" id="gender" name="gender" value="female"/> Female <br/>  
    <input type="radio" id="gender" name="gender" value="female"/> Female <br/>  
    </form>  
    <div class="pagination">
    <button class="btn" id="previous">Prev</button>
     <button class="btn">Next</button>
     </div> 
  </div>
</body>
<script src="js/script.js"> </script>
</html>